.App {
  text-align: center;
}

.bgBox {
  background-color: grey;
  width: 350px;
  height: 550px;
  border-radius: 5px;
}

.quoteBox {
  font-size: 16px;
  width: 300px;
  height: 100px;
}

.bookEndBox {
  background-color: green;
  color: white;
  font-size: 16px;
  width: 350px;
  height: 30px;
  border-radius: 5px;
}

p {
  text-align: center;
  padding-left: 15px;
}

img {
  width: 150px;
  height: 100px;
  padding-bottom: 10px;
}

button {
  background-color: blue;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;	
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

